<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="admin.pubbs.in.pubbsadminnew">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddBankDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".PaymentOption"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".EmployeeAddNewBicycle"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SupportChatReply"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".SupportUsers"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SetEmployeeAuthority"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FinancialReport"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".GenerateReport"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".LiveTrack"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".DashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"/>
        <activity
            android:name=".AddNewArea"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignInUp"
            android:label="@string/title_activity_sign_in_up"
            android:screenOrientation="portrait"
            android:theme="@style/LoginScreen" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".VerifyOtp"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".Redistribution"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ManageSystem"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".Repair"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MyUsers"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/LoginScreen" />
        <activity
            android:name=".RepairCycleScanQr"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity android:name=".EditStation" />
        <activity
            android:name=".AddNewStation"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddNewBicycle"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddBicycle"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".AddBicycleQRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".RemoveBicycle"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddStationInMap"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DeleteStation"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DeleteSingleStation"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".ManageOperator"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".AddOperator"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddOperatorArea"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OperatorArea"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AreaSubscription"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DeleteSingleOperator"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".RechargeBattery"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SuperAdminShowAdmins"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ShowAllAreas"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".ShowAllStations"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FeedBack"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AdminSubscription"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditOperator"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ContactSuperAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StartStopService"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ServiceArea"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SuperAdminAddOperator"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FeedbackDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".AreaSubscriptionHistory"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubAdmin"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddLock"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".AreaLegal"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SetAreaAgreement"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".LockCart"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".AreaStations"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SuperAdminShowSpecificArea"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".ShowAreaStations"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LockOrder"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LockOrderDetails"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar" />
        <activity
            android:name=".AllAreaSubscriptions"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AllAreaRateChart"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AreaRateChart"
            android:screenOrientation="portrait"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>